/* You can add global styles to this file, and also import other style files */

.flex-justfy {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.mat-form-field-fluid{
    width:100%
}
